@model CourseVM
@{
    ViewData["Title"] = "Details";
}

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">
                    <div class="courses-details-img">
                        <img style="width:600px;height:411px" src="~/assets/img/course/@Model.Course.Image" alt="courses-details">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.Course.Name</h2>
                        <p>@Model.Course.Description</p>
                        <div class="course-details-left">
                            <div class="single-course-left">
                                <h3>about course</h3>
                                <p>@Model.Course.About</p>
                            </div>
                            <div class="single-course-left">
                                <h3>how to apply</h3>
                                <p>@Model.Course.HowToApply</p>
                            </div>
                            <div class="single-course-left">
                                <h3>certification</h3>
                                <p>@Model.Course.Certification</p>
                            </div>
                        </div>
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>@Model.Course.Features.StartTime.ToString("dd MMMM yyyy")</span></li>
                                <li>duration <span>@Model.Course.Features.Duration</span></li>
                                <li>class duration <span>@Model.Course.Features.ClassDuration</span></li>
                                <li>skill level <span>@Model.Course.Features.SkillLevel</span></li>
                                <li>language <span>@Model.Course.Features.Language</span></li>
                                <li>students <span>@Model.Course.Features.StudentCount</span></li>
                                <li>assesments <span>@Model.Course.Features.Assesments</span></li>
                            </ul>
                            <h3 class="red">course fee $@Model.Course.Features.Fee</h3>
                        </div>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                        <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-action="AddComment" method="post">
                                <div class="row">

                                    <div class="col-md-12">
                                        <p>Subject</p>
                                        <input asp-for="@Model.Course.Comments.FirstOrDefault().Subject">
                                        <p>Message</p>
                                        <textarea asp-for="@Model.Course.Comments.FirstOrDefault().Message" cols="15" rows="10"></textarea>
                                        <input type="hidden" asp-for="@Model.Course.Comments.FirstOrDefault().CourseId" value="@Model.Course.Id" />
                                    </div>
                                </div>
                                <button id="addComment" type="submit"><span>send message</span></button>

                                <p class="form-messege"></p>
                            </form>

                        }
                        <div id="addedComments">
                            <h2>COMMENTS</h2><br />
                            @await Html.PartialAsync("_CommentPartialView", Model)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">

                            <form method="get" asp-action="search" asp-controller="course">
                                <div class="form-holder">
                                    <input type="text" placeholder="Search" id="Name" name="Name" autocomplete="off">
                                    <button type="submit">
                                        <span><i class="fa fa-search"></i></span>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (CCategory category in ViewBag.CourseCategories)
                            {
                                <li><a asp-controller="course" asp-action="CategoryRelatedCourse" asp-route-id="@category.Id">@category.Name (@category.Courses.Count)</a></li>
                            }


                            @*<li><a href="#">Political Science (12)</a></li>
                                <li><a href="#">Micro Biology (08)</a></li>
                                <li><a href="#">HTML5 &amp; CSS3 (15)</a></li>
                                <li><a href="#">Web Design (20)</a></li>
                                <li><a href="#">PHP (23)</a></li>*@
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="~/assets/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        @foreach (Course item in Model.Courses.OrderByDescending(c => c.Id).Take(3))
                        {
                            <div class="single-post mb-60">
                                <div class="single-post-img">
                                    <a asp-controller="course" asp-action="details" asp-route-id="@item.Id">
                                        <img style="width:95px;height:75px" src="~/assets/img/course/@item.Image" alt="post">
                                        <div class="blog-hover">
                                            <i class="@item.LinkLogo"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a asp-controller="course" asp-action="details" asp-route-id="@item.Id">@item.Name</a></h4>

                                </div>
                            </div>
                        }


                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            @foreach (Tag tag in Model.Tags)
                            {
                                <a style="padding:6px 8px !important" asp-controller="course" asp-action="TagRelatedCourse" asp-route-id="@tag.Id" class="mr-10 mb-10">@tag.Name</a>
                            }

                            @*<a href="blog-details.html" class="mr-10 mb-10">education</a>
                                <a href="blog-details.html" class="mb-10">teachers</a>
                                <a href="blog-details.html" class="mr-10">learning</a>
                                <a href="blog-details.html" class="mr-10">university</a>
                                <a href="blog-details.html">events</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
<!-- Subscribe Start -->
@*@section Scripts{

        <script>
            $(document).ready(function () {
                $("#addComment").click(function (e) {
                    e.preventDefault();
                    var comments = $("#addedComments");
                    var link = "/Course/AddComments";
                    fetch(link).then(res => res.json()).then(data => {

                        meth
                        comments.empty();
                        comments.append(data);
                    }



                )
            })
        </script>


    }*@

@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $("#deleteCmt").click(function (e) {
            e.preventDefault()
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var value = $("#hiddenId").val();
                    var url = '/Event/DeleteComment?id=' + value;


                    fetch(url).then(response => response.json()).then(data => {
                        console.log(data.status)
                        if (data.status == 200) {
                            location.reload(true)
                        } else {
                            Swal.fire(
                                'Not found!',
                                'Your file can not be deleted.',
                                'Failed'

                            )
                        }
                    }
                    );
                }
            })
        })
    </script>
}