@model AllVM

@foreach (Course course in Model.Courses)
{
    <div class="col-md-4 col-sm-6 col-xs-12 courseForSearch">
        <div class="single-course mb-70">
            <div class="course-img">
                <a asp-controller="course" asp-action="details" asp-route-id="@course.Id">
                    <img style="height:250px" src="~/assets/img/course/@course.Image" alt="course">
                    <div class="course-hover">
                        <i class="@course.LinkLogo"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a asp-controller="course" asp-action="details" asp-route-id="@course.Id">@course.Name</a></h3>


                <p>
                    @if (course.Description.Length > 80)
                    {

                        @course.Description.Substring(0, 80)
                    }
                    else
                    {
                        @course.Description

                    }


                </p>



                <a class="default-btn" asp-controller="course" asp-action="details" asp-route-id="@course.Id">read more</a>
            </div>
        </div>
    </div>
}

@foreach (Blog item in Model.Blogs)
{
    <div class="blogforsearch col-md-6 col-sm-6 col-xs-12">
        <div class="single-blog mb-60">
            <div class="blog-img">
                <a asp-controller="blog" asp-action="details" asp-route-id="@item.Id"><img style="height:250px" src="~/assets/img/blog/@item.Image" alt="blog"></a>
                <div class="blog-hover">
                    <i class="fa fa-link"></i>
                </div>
            </div>
            <div class="blog-content">
                <div class="blog-top">
                    <p>By @item.Author  /  @item.CreatedTime.ToString("dd MMMM yyyy")  /  <i class="fa fa-comments-o"></i> @item.Comments.Where(c => c.IsAccepted == true).Count()</p>
                </div>
                <div class="blog-bottom">
                    <h2><a asp-controller="blog" asp-action="details" asp-route-id="@item.Id">@item.Name</a></h2>
                    <a asp-controller="blog" asp-action="details" asp-route-id="@item.Id">read more</a>
                </div>
            </div>
        </div>
    </div>

}

@foreach (Course course in Model.Courses)
{
    <div class="col-md-4 col-sm-6 col-xs-12 courseForSearch">
        <div class="single-course mb-70">
            <div class="course-img">
                <a asp-controller="course" asp-action="details" asp-route-id="@course.Id">
                    <img style="height:250px" src="~/assets/img/course/@course.Image" alt="course">
                    <div class="course-hover">
                        <i class="@course.LinkLogo"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a asp-controller="course" asp-action="details" asp-route-id="@course.Id">@course.Name</a></h3>


                <p>
                    @if (course.Description.Length > 80)
                    {

                        @course.Description.Substring(0, 80)
                    }
                    else
                    {
                        @course.Description

                    }


                </p>



                <a class="default-btn" asp-controller="course" asp-action="details" asp-route-id="@course.Id">read more</a>
            </div>
        </div>
    </div>
}
@foreach (Teacher teacher in Model.Teachers)
{
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-teacher mb-45">
            <div class="single-teacher-img">
                <a asp-controller="teacher" asp-action="details" asp-route-id="@teacher.Id"><img style="width:270px;height:270px" src="~/assets/img/teacher/@teacher.Image" alt="teacher"></a>
            </div>
            <div class="single-teacher-content text-center">
                <h2><a asp-controller="teacher" asp-action="details" asp-route-id="@teacher.Id">@teacher.Fullname</a></h2>
                <h4>@teacher.Speciality</h4>
                <ul>

                    @if (Model.Teachers.FirstOrDefault().Fblink != null)
                    {
                        <li><a href="@Model.Teachers.FirstOrDefault().Fblink"><i class="zmdi zmdi-facebook"></i></a></li>

                    }
                    @if (Model.Teachers.FirstOrDefault().Instalink != null)
                    {
                        <li><a href="@Model.Teachers.FirstOrDefault().Instalink"><i class="zmdi zmdi-instagram"></i></a></li>

                    }
                    @if (Model.Teachers.FirstOrDefault().Vimeolink != null)
                    {
                        <li><a href="@Model.Teachers.FirstOrDefault().Vimeolink"><i class="zmdi zmdi-vimeo"></i></a></li>

                    }
                    @if (Model.Teachers.FirstOrDefault().PinterestLink != null)
                    {
                        <li><a href="@Model.Teachers.FirstOrDefault().PinterestLink"><i class="zmdi zmdi-pinterest"></i></a></li>

                    }













                </ul>
            </div>
        </div>
    </div>
}
