@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BlogVM
@foreach (Comment item in Model.Blog.Comments)
{
    if (Model.Blog.Comments != null)
    {
        if (item.IsAccepted == true)
        {
            <div class="commentdiv">
                <h5>@item.AppUser.Fullname</h5>
                <span>@item.CreatedTime</span>
                <span><strong>@item.Subject</strong></span>
                <br />
                <input type="hidden" value="@item.Id" class="hiddenId" />
                <p>@item.Message</p>
                @if (item.AppUser.UserName == User.Identity.Name)
                {
                    <a asp-controller="Blog" asp-action="DeleteComment" asp-route-id="@Model.Blog.Id" style="text-decoration:none" class="text text-danger deleteCmt">DELETE</a>
                }

            </div>

        }
    }



}

