@model Event
@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-3">
    <h1 class="text text-success">Create teacher</h1>
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
    <div>
        <h2>Current image</h2>
        <img style="width:100px" src="~/assets/img/event/@Model.Image" />
    </div>
    <form method="post" class="mt-2" enctype="multipart/form-data">
        <div class="mb-2">
            <label asp-for="@Model.ImageFile" class="form-label">Event image</label>
            <input asp-for="@Model.ImageFile" accept="image/*" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.ImageFile"></span>
        </div>
        <div class="mb-2">
            <label asp-for="@Model.Name" class="form-label">Name</label>
            <input asp-for="@Model.Name" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.Name"></span>
        </div>
        <div class="mb-2">
            <label asp-for="@Model.Venue" class="form-label">Venue</label>
            <input asp-for="@Model.Venue" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.Venue"></span>
        </div>
        <div class="mb-2">
            <label asp-for="@Model.Desc" class="form-label">Description</label>
            <input asp-for="@Model.Desc" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.Desc"></span>
        </div>
        <div class="mb-2">
            <label asp-for="@Model.LeaveReply" class="form-label">Leave A Reply</label>
            <input asp-for="@Model.LeaveReply" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.LeaveReply"></span>
        </div>
        <div class="mb-2">
            <label asp-for="@Model.DayMonth" class="form-label">Date</label>
            <input asp-for="@Model.DayMonth" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.DayMonth"></span>
        </div>
        <div class="mb-2">
            <label asp-for="@Model.StartTime" class="form-label">Start time</label>
            <input asp-for="@Model.StartTime" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.StartTime"></span>
        </div>
        <div class="mb-2">
            <label asp-for="@Model.EndTime" class="form-label">End time</label>
            <input asp-for="@Model.EndTime" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.EndTime"></span>
        </div>

        <div class="mb-2">
            <label asp-for="@Model.SpeakerIds" class="form-label">Speakers</label>
            <select asp-for="@Model.SpeakerIds" class="form-select" >
               
                @foreach (var tag in ViewBag.SpeakerIds)
                {
                    if (Model.EventSpeakers.FirstOrDefault(fc => fc.SpeakerId == tag.Id) != null)
                    {
                        <option value="@tag.Id" selected>@tag.Name</option>
                    }
                    else
                    {
                        <option value="@tag.Id">@tag.Name</option>

                    }
                }
            </select>
            <span class="mt-2 text text-danger" asp-validation-for="@Model.SpeakerIds"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}


